html, body {
	padding: 0;
	margin: 0;
}

html  {
	background-image:url( 'http://img06.deviantart.net/6cc8/i/2016/115/f/3/sunrise_doodle_by_danajayy-d9tq2g2.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
}

/*controls where page jump content will land on webpage*/
.anchor {
	display: block;
	height: 200px;
	margin-top: -200px;
	visibility: hidden;
}

/*welcome content block*/
#welcome {
	text-align:center;
	font-family: 'Cinzel', serif;
	font-weight: 400;
	font-size: 4em;
}

/*sidebar styling*/
#sidebar {
	top: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.35);
	height: 100%;
	width: 300px;
}

#sidebar h2 {
	text-align: center;
	font-family: 'Cinzel', serif;
	color: white;
	font-weight: 400;
	margin-bottom: 10px;
	margin-top: 80px;
}

#credits {
	opacity: 0.5;
	position: absolute;
	margin: auto;
	bottom: 0;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 0.8em;
	color: white;
}

/*outside links*/
.links{
	display: inline-block;
	margin-bottom: 40px;
	margin-left: 20px;
	margin-top: 5px;
}

.links a {
	padding-left: 10px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 0.9em;
}

.links a:link {
	text-decoration: none;
	color: white;
	opacity: 0.5;
}

.links a:hover {
	text-decoration: none;
	color: white;
	opacity: 1;
	transition: opacity .5s;
}

.links a:visited {
	text-decoration: none;
	color: white;
	opacity: 0.5;
}

/*navigation*/
.nav {
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 20px;
}

.nav h3 {
	font-family: 'Cinzel', serif;
	font-weight: 400;
	color: white;
	margin-bottom: 5px;
	text-align: center;
}

.nav a:hover {
    color: white;
	text-decoration: none;
}

.nav a:link {
    text-decoration: none;
	color: white;
}

.nav a:visited {
    text-decoration: none;
	color: white;
}

.nav ul {
	list-style: none;
	margin-left: -40px;
}

.nav ul li {
	font-size: 0.7em;
	border: none;
	text-align: center;
	color: white;
	margin: auto;
	padding: 3px 3px 3px 3px;
	margin-bottom: 5px;
	border-radius: 23px;
	width: 100px;
}

/*gives the nav links white background when hover*/
.nav ul li:hover {
	background-color: rgba(255, 255, 255, 0.35);
	transition: background-color .5s;
}

/*content div blocks*/
.content {
	margin-left: 515px;
	margin-top: 100px;
	margin-bottom: 100px;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	height: auto;
	width: 500px;
	background-color: rgba(0, 0, 0, 0.35); /*transparent black*/
	border-radius: 23px;
}

.content h2 {
	font-family: 'Cinzel', serif;
	font-weight: 400;
}

/*makes the text in content slightly indented both left and right*/
.info {
	margin-left: 20px;
	padding: 3px 0px 3px 0px;
	width: 450px;
}

/*need to wrap skills list in div so they align*/
.info .skilists {
	display: inline-block;
	vertical-align: top; /* makes lists line up top-left of container*/
	margin-right: 50px;
}